@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

.tags{
    width: 20%;
    color: #ffd700;
    opacity: 0.6;
    position: relative;
    // bottom: -50px;
    left: 8vw;
    font-size: 18px;
    font-family: 'La Belle Aurore';
}
.bottom-tag-html{
    margin-left: -2vw;
}
.home-page {



    .text-zone {
        position: relative;
        left: 10vw;
        top: 20%;
        // transform: translateY(-50%);
        width: 40%;
        max-height: 90%;
        margin-left: 15px;
    }

    h1 {
        color: white;
        font-size: 53px;
        font-family: 'Open Sans', sans-serif;

        // position: relative;
        // left: 15px;

        &::before {
            content: '<h1>';
            font-family: 'La Belle Aurore';
            color: #ffd700;
            font-size: 18px;
            position: absolute;
            margin-top: -25px;
            // left: 15px;
            animation: fadeIn 1s 1.7s backwards;
            opacity: 0.6;
        }

        &:after {
            content: '<h1/>';
            font-family: 'La Belle Aurore', cursive;
            color: #ffd700;
            font-size: 18px;
            position: absolute;
            
            // margin-top: -40px;
            animation: fadeIn 1s 1.7s backwards;
            opacity: 0.6;
        }

        img {
            width: 50px;
            margin-left: 20px;
            opacity: 0;
            height: auto;
            animation: rotateIn 1s linear both;
            animation-delay: 1.4s;
            // transform: translateY(40px);
            // overflow: hidden;
        }
    }

    h2 {
        color: #8d8d8d;
        margin: 25px 0px;
        margin-top: 50px;
        font-weight: 400;
        font-size: 30px;
        font-family: sans-serif;
        letter-spacing: 3px;
        animation: fadeIn 1s 1.8s backwards;

    }

    p{
        font-style: 15px;
        color: #fff;
        // font-family: sans-serif;
        min-width: fit-content;
        font-weight: 100;
        margin-bottom: 10px;
        font-size: 18px;
        animation: pulse 1s;
        word-spacing: 5px;

        &:nth-of-type(1){
            animation-delay: 1.7s;
        }
        &:nth-of-type(2){
            animation-delay: 2.0s;
        }
        &:nth-of-type(3){
            animation-delay: 2.3s;
        }
    }

    .flat-button {
        color: #ffd700;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 4px;
        font-family: sans-serif;
        text-decoration: none;
        padding: 10px 18px;
        border: 1px solid #ffd700;
        margin-top: 25px;
        float: left;
        animation: fadeIn 1s 1.8s backwards;
        white-space: nowrap;

        &:hover {
            background-color: #ffd700;
            color: black;
        }
    }
}


@media screen and (max-width: 900px) {
    
    .home-page {
        .text-zone {
            position: absolute;
            left: 10vw;
            top: 40%;
            // transform: translateY(-50%);
            width: 80%;
            max-height: 90%;
            margin-left: 15px;
        }
    
        h1 {
            color: white;
            font-size: 50px;
            font-weight: 300px;
            font-family: 'Open Sans', sans-serif;

    
            // position: relative;
            // left: 15px;
    
            &::before {
                content: '<h1>';
                font-family: 'La Belle Aurore';
                color: #ffd700;
                font-size: 18px;
                position: absolute;
                margin-top: -25px;
                // left: 15px;
                animation: fadeIn 1s 1.7s backwards;
                opacity: 0.6;
            }
    
            &:after {
                content: '<h1/>';
                font-family: 'La Belle Aurore', cursive;
                color: #ffd700;
                font-size: 18px;
                position: absolute;
                
                // margin-top: -40px;
                animation: fadeIn 1s 1.7s backwards;
                opacity: 0.6;
            }
    
            img {
                width: 30px;
                margin-left: 20px;
                opacity: 0;
                height: auto;
                animation: rotateIn 1s linear both;
                animation-delay: 1.4s;
                // transform: translateY(40px);
                // overflow: hidden;
            }
        }
    
    }
}